<div>
    <h2>We are a community based help service!</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos aspernatur numquam iure consectetur similique magni officia ea perferendis eligendi quos pariatur aliquid quae veniam error, repudiandae sint, sapiente dolorem ipsam animi architecto in. Laudantium odio nam amet voluptatum porro, explicabo est ipsum delectus dolorem asperiores culpa voluptatibus harum impedit veniam?</p>
    <p>
        <a href="https://www.swiftview.com/product/swiftview-viewer/">TRY IT FREE</a>
        <a href="https://www.swiftview.com/partners/">SIGN UP</a>
    </p>
</div>